# Green AI project
by AHLAT Hayal, BOYER Hugo, LAPILUS Joyce, MELON Mario - A4 DIA1 Promo 2025

---
**Subject:** The preservation of coral reefs

![coral reef](https://geographical.co.uk/wp-content/uploads/shutterstock_1894838764.jpg)

In [2]:
import pandas as pd

## Data exploration

### Reefs dataset

https://www.kaggle.com/datasets/noaa/deep-sea-corals/

In [3]:
reefs = pd.read_csv('deep_sea_corals.csv')
reefs.head()

C:\Users\33684\AppData\Local\Temp\ipykernel_35048\3072578492.py:1: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  reefs = pd.read_csv('deep_sea_corals.csv')

,CatalogNumber,DataProvider,ScientificName,VernacularNameCategory,TaxonRank,Station,ObservationDate,latitude,longitude,DepthInMeters,DepthMethod,Locality,LocationAccuracy,SurveyID,Repository,IdentificationQualifier,EventID,SamplingEquipment,RecordType,SampleID
0,625366,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-02,18.30817,-158.45392,959,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_05:45:26:28
1,625373,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-01,18.30864,-158.45393,953,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_05:24:35:53
2,625386,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-01,18.30877,-158.45384,955,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_05:15:22:09
3,625382,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-01,18.30875,-158.45384,955,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_05:13:29:50
4,625384,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-01,18.30902,-158.45425,968,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_04:24:44:48

In [4]:
reefs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513372 entries, 0 to 513371
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CatalogNumber            513372 non-null  int64
 1   DataProvider             513372 non-null  object
 2   ScientificName           513372 non-null  object
 3   VernacularNameCategory   513197 non-null  object
 4   TaxonRank                513364 non-null  object
 5   Station                  253590 non-null  object
 6   ObservationDate          513367 non-null  object
 7   latitude                 513372 non-null  float64
 8   longitude                513372 non-null  float64
 9   DepthInMeters            513372 non-null  int64
 10  DepthMethod              496845 non-null  object
 11  Locality                 389645 non-null  object
 12  LocationAccuracy         484662 non-null  object
 13  SurveyID                 306228 non-null  object
 14  Repository               496584 non-null  object
 15  IdentificationQualifier  488591 non-null  object
 16  EventID                  472141 non-null  object
 17  SamplingEquipment        485883 non-null  object
 18  RecordType               501077 non-null  object
 19  SampleID                 402294 non-null  object
dtypes: float64(2), int64(2), object(16)
memory usage: 78.3+ MB

In [5]:
reefs['ObservationDate'].unique()

array(['2015-09-02', '2015-09-01', '2015-09-03', ..., '1963-11-26',
       '1885-07-05', '1880-04-20'], dtype=object)

In [6]:
reefs.TaxonRank.unique()

array(['species', 'genus', 'phylum', 'order', 'family', 'suborder',
       'subgenus', 'subspecies', 'variety', 'class', 'forma', 'subfamily',
       'subclass', nan], dtype=object)

In [7]:
reefs.VernacularNameCategory.unique()

array(['stony coral (branching)', 'gorgonian coral',
       'stony coral (cup coral)', 'black coral', 'sea pen', 'demosponge',
       'lace coral', 'sponge (unspecified)', 'stony coral (unspecified)',
       'stoloniferan coral', 'soft coral', 'glass sponge',
       'scleromorph sponge', 'lithotelestid coral', 'gold coral',
       'calcareous sponge', 'other coral-like hydrozoan', nan],
      dtype=object)

In [8]:
len(reefs.VernacularNameCategory.unique())

18

In [9]:
reefs.ScientificName.unique()

array(['Madrepora oculata', 'Acanthogorgia sp.',
       'Stenocyathus vermiformis', ..., 'Paragorgia tapachtli',
       'Thalamophyllia riisei', 'Primnoa resedaeformis'], dtype=object)

In [10]:
len(reefs.ScientificName.unique())

2888

### Ocean acidification dataset

https://www.ncei.noaa.gov/data/oceans/ncei/ocads/metadata/0219960.html

In [11]:
oceans = pd.read_csv('CODAP_NA_v2021.csv')
oceans.head()

C:\Users\33684\AppData\Local\Temp\ipykernel_35048\3583915326.py:1: DtypeWarning: Columns (0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  oceans = pd.read_csv('CODAP_NA_v2021.csv')

,Accession,EXPOCODE,Cruise_flag,Cruise_ID,Observation_type,Profile_number,Station_ID,Cast_number,Niskin_ID,Niskin_flag,...,Nitrate,Nitrate_flag,Nitrite,Nitrite_flag,Nitrate_and_Nitrite,Nitrate_and_Nitrite_flag,recommended_Nitrate_and_Nitrite,recommended_Nitrate_and_Nitrite_flag,Ammonium,Ammonium_flag
0,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,[umol/kg],n.a.,[umol/kg],n.a.,[umol/kg],n.a.,[umol/kg],n.a.,[umol/kg],n.a.
1,144549,33HQ20080329,B,HLY0802,Niskin,1,1,5,1,2,...,25.8,2,0.19,2,25.99,2,25.99,2,0.14,2
2,144549,33HQ20080329,B,HLY0802,Niskin,1,1,5,2,2,...,25.6,2,0.2,2,25.8,2,25.8,2,0.13,2
3,144549,33HQ20080329,B,HLY0802,Niskin,1,1,5,3,2,...,24,2,0.15,2,24.15,2,24.15,2,0.41,2
4,144549,33HQ20080329,B,HLY0802,Niskin,1,1,5,4,2,...,22.6,2,0.17,2,22.77,2,22.77,2,-999,9

In [12]:
oceans.columns

Index(['Accession', 'EXPOCODE', 'Cruise_flag', 'Cruise_ID', 'Observation_type',
       'Profile_number', 'Station_ID', 'Cast_number', 'Niskin_ID',
       'Niskin_flag', 'Sample_ID', 'Year_UTC', 'Month_UTC', 'Day_UTC',
       'Time_UTC', 'Latitude', 'Longitude', 'Depth_bottom', 'Max_sample_depth',
       'CTDPRES', 'Depth', 'CTDTEMP_ITS90', 'CTDTEMP_flag', 'CTDSAL_PSS78',
       'CTDSAL_flag', 'Salinity_PSS78', 'Salinity_flag',
       'recommended_Salinity_PSS78', 'recommended_Salinity_flag', 'CTDOXY',
       'CTDOXY_flag', 'Oxygen', 'Oxygen_flag', 'recommended_Oxygen',
       'recommended_Oxygen_flag', 'AOU', 'AOU_flag', 'DIC', 'DIC_flag', 'TALK',
       'TALK_flag', 'pH_TS_measured', 'TEMP_pH', 'pH_flag',
       'pH_TS_insitu_measured', 'pH_TS_insitu_calculated', 'fCO2_measured',
       'TEMP_fCO2', 'fCO2_flag', 'fCO2_insitu_measured',
       'fCO2_insitu_calculated', 'Carbonate_measured', 'TEMP_Carbonate',
       'Carbonate_flag', 'Carbonate_insitu_measured',
       'Carbonate_insitu_calculated', 'Aragonite', 'Calcite', 'Revelle_Factor',
       'Silicate', 'Silicate_flag', 'Phosphate', 'Phosphate_flag', 'Nitrate',
       'Nitrate_flag', 'Nitrite', 'Nitrite_flag', 'Nitrate_and_Nitrite',
       'Nitrate_and_Nitrite_flag', 'recommended_Nitrate_and_Nitrite',
       'recommended_Nitrate_and_Nitrite_flag', 'Ammonium', 'Ammonium_flag'],
      dtype='object')

In [13]:
oceans.Year_UTC.unique()

array(['n.a.', '2008', '2009', '2010', '2011', '2012', '2013', '2015',
       2015, 2018, 2012, 2014, 2013, 2016, 2017, 2003, 2004, 2005, 2006,
       2007, 2011], dtype=object)

- température/salinité
- carbone
- oxygène dans l'eau
- pH

## Data cleaning

### Dropping columns / rows

#### Reef dataset

In [14]:
columns_to_keep = ['ScientificName', 'VernacularNameCategory', 'TaxonRank', 'ObservationDate', 
                   'latitude', 'longitude', 'DepthInMeters', 'Locality']
columns_to_drop = [x for x in list(reefs.columns) if x not in columns_to_keep ]
#columns_to_drop = ['CatalogNumber', 'DataProvider', 'Station', 'DepthMethod', 'Locality']
columns_to_drop

['CatalogNumber',
 'DataProvider',
 'Station',
 'DepthMethod',
 'LocationAccuracy',
 'SurveyID',
 'Repository',
 'IdentificationQualifier',
 'EventID',
 'SamplingEquipment',
 'RecordType',
 'SampleID']

In [15]:
reefs.drop(columns=columns_to_drop, axis=1, inplace=True)
reefs.head()

,ScientificName,VernacularNameCategory,TaxonRank,ObservationDate,latitude,longitude,DepthInMeters,Locality
0,Madrepora oculata,stony coral (branching),species,2015-09-02,18.30817,-158.45392,959,"Hawaiian Archipelago, Swordfish Seamount"
1,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30864,-158.45393,953,"Hawaiian Archipelago, Swordfish Seamount"
2,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30877,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount"
3,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30875,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount"
4,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30902,-158.45425,968,"Hawaiian Archipelago, Swordfish Seamount"

In [16]:
reefs.drop(index=reefs.index[0], axis=0, inplace=True)
reefs.head()

,ScientificName,VernacularNameCategory,TaxonRank,ObservationDate,latitude,longitude,DepthInMeters,Locality
1,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30864,-158.45393,953,"Hawaiian Archipelago, Swordfish Seamount"
2,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30877,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount"
3,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30875,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount"
4,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30902,-158.45425,968,"Hawaiian Archipelago, Swordfish Seamount"
5,Madrepora oculata,stony coral (branching),species,2015-09-02,18.30746,-158.45412,976,"Hawaiian Archipelago, Swordfish Seamount"

In [17]:
reefs.isnull().sum()

ScientificName                 0
VernacularNameCategory       175
TaxonRank                      8
ObservationDate                5
latitude                       0
longitude                      0
DepthInMeters                  0
Locality                  123727
dtype: int64

In [18]:
reefs.dropna(axis=0, how='any', inplace=True)
reefs.isnull().sum()

ScientificName            0
VernacularNameCategory    0
TaxonRank                 0
ObservationDate           0
latitude                  0
longitude                 0
DepthInMeters             0
Locality                  0
dtype: int64

In [19]:
reefs.shape

(389580, 8)

### Formatting the columns

#### Reef dataset

In [20]:
reefs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389580 entries, 1 to 513371
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ScientificName          389580 non-null  object
 1   VernacularNameCategory  389580 non-null  object
 2   TaxonRank               389580 non-null  object
 3   ObservationDate         389580 non-null  object
 4   latitude                389580 non-null  float64
 5   longitude               389580 non-null  float64
 6   DepthInMeters           389580 non-null  int64
 7   Locality                389580 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 26.8+ MB

In [21]:
reefs.latitude = reefs.latitude.astype(float)
reefs.longitude = reefs.longitude.astype(float)

In [22]:
reefs.ObservationDate

1         2015-09-01
2         2015-09-01
3         2015-09-01
4         2015-09-01
5         2015-09-02
             ...
513367    2003-08-11
513368    2003-08-11
513369    1995-07-06
513370    2003-08-06
513371    2003-08-08
Name: ObservationDate, Length: 389580, dtype: object

In [23]:
pd.to_datetime(reefs.ObservationDate, format='%Y-%m-%d', errors='coerce')

1        2015-09-01
2        2015-09-01
3        2015-09-01
4        2015-09-01
5        2015-09-02
            ...
513367   2003-08-11
513368   2003-08-11
513369   1995-07-06
513370   2003-08-06
513371   2003-08-08
Name: ObservationDate, Length: 389580, dtype: datetime64[ns]

In [24]:
reefs[pd.to_datetime(reefs.ObservationDate, format='%Y-%m-%d', errors='coerce').isnull()]

,ScientificName,VernacularNameCategory,TaxonRank,ObservationDate,latitude,longitude,DepthInMeters,Locality
417781,Flabellum (Ulocyathus) alabastrum,stony coral (cup coral),species,5/26/1954,27.16667,-79.56667,686,off southeast Florida

Some dates only include the year. So we will create a new column `ObservationYear` which will serve us throughout the rest of our analysis.

In [25]:
def extract_year(date):
    if len(date) >= 4:
        return date.split('-')[0]
    else:
        return date

In [26]:
reefs['ObservationYear'] = reefs['ObservationDate'].astype(str).apply(extract_year)

In [27]:
reefs.head()

,ScientificName,VernacularNameCategory,TaxonRank,ObservationDate,latitude,longitude,DepthInMeters,Locality,ObservationYear
1,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30864,-158.45393,953,"Hawaiian Archipelago, Swordfish Seamount",2015
2,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30877,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount",2015
3,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30875,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount",2015
4,Madrepora oculata,stony coral (branching),species,2015-09-01,18.30902,-158.45425,968,"Hawaiian Archipelago, Swordfish Seamount",2015
5,Madrepora oculata,stony coral (branching),species,2015-09-02,18.30746,-158.45412,976,"Hawaiian Archipelago, Swordfish Seamount",2015

In [28]:
reefs.isnull().sum()

ScientificName            0
VernacularNameCategory    0
TaxonRank                 0
ObservationDate           0
latitude                  0
longitude                 0
DepthInMeters             0
Locality                  0
ObservationYear           0
dtype: int64

In [29]:
reefs.drop(axis=1, columns=['ObservationDate'], inplace=True)
reefs

,ScientificName,VernacularNameCategory,TaxonRank,latitude,longitude,DepthInMeters,Locality,ObservationYear
1,Madrepora oculata,stony coral (branching),species,18.30864,-158.45393,953,"Hawaiian Archipelago, Swordfish Seamount",2015
2,Madrepora oculata,stony coral (branching),species,18.30877,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount",2015
3,Madrepora oculata,stony coral (branching),species,18.30875,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount",2015
4,Madrepora oculata,stony coral (branching),species,18.30902,-158.45425,968,"Hawaiian Archipelago, Swordfish Seamount",2015
5,Madrepora oculata,stony coral (branching),species,18.30746,-158.45412,976,"Hawaiian Archipelago, Swordfish Seamount",2015
...,...,...,...,...,...,...,...,...
513367,Primnoa resedaeformis,gorgonian coral,species,43.94792,-68.19433,199,Gulf of Maine; Mt Desert Rock a,2003
513368,Primnoa resedaeformis,gorgonian coral,species,43.93652,-68.20276,143,Gulf of Maine; Mt Desert Rock b,2003
513369,Primnoa resedaeformis,gorgonian coral,species,41.07333,-66.40183,606,No-name Canyon,1995
513370,Primnoa resedaeformis,gorgonian coral,species,43.36468,-67.81245,241,Gulf of Maine; 114 Bump a,2003
513371,Primnoa resedaeformis,gorgonian coral,species,43.36507,-67.81291,215,Gulf of Maine; 114 Bump b,2003

In [30]:
reefs.ObservationYear[reefs.ObservationYear.str.len() > 4]

417781    5/26/1954
Name: ObservationYear, dtype: object

In [31]:
reefs.loc[417782].ObservationYear[-4:]

'2011'

In [32]:
reefs.loc[417782, 'ObservationYear'] = reefs.loc[417782, 'ObservationYear'][-4:]

In [33]:
# Assuming 'reefs' is your DataFrame and 'ObservationYear' is the column with date strings
reefs['ObservationYear'] = pd.to_datetime(reefs['ObservationYear']).dt.year

# Now 'ObservationYear' will be an integer representation of the year
reefs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389580 entries, 1 to 513371
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ScientificName          389580 non-null  object
 1   VernacularNameCategory  389580 non-null  object
 2   TaxonRank               389580 non-null  object
 3   latitude                389580 non-null  float64
 4   longitude               389580 non-null  float64
 5   DepthInMeters           389580 non-null  int64
 6   Locality                389580 non-null  object
 7   ObservationYear         389580 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 34.8+ MB

In [34]:
reefs.head()

,ScientificName,VernacularNameCategory,TaxonRank,latitude,longitude,DepthInMeters,Locality,ObservationYear
1,Madrepora oculata,stony coral (branching),species,18.30864,-158.45393,953,"Hawaiian Archipelago, Swordfish Seamount",2015
2,Madrepora oculata,stony coral (branching),species,18.30877,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount",2015
3,Madrepora oculata,stony coral (branching),species,18.30875,-158.45384,955,"Hawaiian Archipelago, Swordfish Seamount",2015
4,Madrepora oculata,stony coral (branching),species,18.30902,-158.45425,968,"Hawaiian Archipelago, Swordfish Seamount",2015
5,Madrepora oculata,stony coral (branching),species,18.30746,-158.45412,976,"Hawaiian Archipelago, Swordfish Seamount",2015

In [35]:
reefs['ObservationYear'].unique()

array([2015, 1991, 2011, 2005, 1986, 1990, 1972, 2010, 2009, 1963, 1978,
       1979, 1966, 1964, 1984, 2002, 1888, 1994, 1973, 2003, 1960, 1982,
       1970, 1992, 2004, 1985, 1968, 1988, 1971, 1995, 1974, 2007, 1889,
       1891, 1885, 1962, 1983, 1965, 1969, 2000, 1884, 1958, 1909, 1976,
       1879, 1961, 1908, 2014, 1975, 2012, 1980, 1952, 1967, 1987, 1886,
       1887, 1977, 2006, 1999, 1883, 2001, 1996, 1957, 1981, 1997, 1953,
       1938, 1959, 1998, 1989, 1902, 1878, 1956, 1993, 2008, 1906, 1905,
       1925, 1899, 1955, 1904, 1890, 1880, 1881, 1929, 1922, 1873, 1932,
       1900, 1933, 1927, 1951, 1940, 1882, 1923, 1901, 1877, 1916, 1948,
       2013, 1915, 1934, 1954, 1924, 1949, 1941, 1936, 1893, 1897, 1903,
       1894, 1842, 1869, 1939, 1868, 1950, 1912, 1872, 1895, 1896, 1926,
       1937, 1947, 1859, 1876, 1930, 1935, 1946, 1920, 1917, 1874, 1945,
       1875, 1907, 1919, 1911, 1913, 1931, 1898, 1914, 2016], dtype=int64)

In [36]:
reefs_sorted = reefs.sort_values(by='ObservationYear')

reefs_sorted.head()

,ScientificName,VernacularNameCategory,TaxonRank,latitude,longitude,DepthInMeters,Locality,ObservationYear
198942,Eunicella sp.,gorgonian coral,genus,-35.930,18.470,3094,Cape Town,1842
201057,Melithaea dichotoma,gorgonian coral,species,-35.930,18.470,3094,Cape Town,1842
199046,Leptogorgia flammea,gorgonian coral,species,-35.930,18.470,3094,Cape Town,1842
19793,Flabellum (Ulocyathus) angulare,stony coral (cup coral),species,39.367,-71.392,2542,"Off U.S. Continental Shelf, Atlantic Ocean",1842
198934,Eunicella sp.,gorgonian coral,genus,-35.930,18.470,3094,Cape Town,1842

In [37]:
reefs_sorted["ObservationYear"].unique()

array([1842, 1859, 1868, 1869, 1872, 1873, 1874, 1875, 1876, 1877, 1878,
       1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889,
       1890, 1891, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901,
       1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1911, 1912, 1913,
       1914, 1915, 1916, 1917, 1919, 1920, 1922, 1923, 1924, 1925, 1926,
       1927, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938,
       1939, 1940, 1941, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952,
       1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963,
       1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974,
       1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
       1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016], dtype=int64)

In [38]:
subset_1842_1900 = reefs_sorted.loc[reefs_sorted['ObservationYear'].between(1842, 1900)]

subset_1901_1950 = reefs_sorted.loc[reefs_sorted['ObservationYear'].between(1901, 1950)]

subset_1951_2000 = reefs_sorted.loc[reefs_sorted['ObservationYear'].between(1951, 2000)]

subset_2001_2016 = reefs_sorted.loc[reefs_sorted['ObservationYear'].between(2001, 2016)]

In [39]:
dates = reefs_sorted["ObservationYear"].unique()

print(dates)

[1842 1859 1868 1869 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881
 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1893 1894 1895 1896
 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1911
 1912 1913 1914 1915 1916 1917 1919 1920 1922 1923 1924 1925 1926 1927
 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1945
 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973
 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]

### Ocean acidification

## Data Visualization

*Ideas*
- Family en fonction de la depth